
@{
    ViewBag.Title = "OnlineMarket";
}


<a href="/">Products</a>
<a href="#/Cart">Cart</a>
<div ng-view></div>

@section JavaScript{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/ControllersNg/IndexController.js"></script>
    <script src="~/ControllersNg/CartController.js"></script>
    <script src="~/ControllersNg/ProductsController.js"></script>
}
